@model General
@using Syncfusion.EJ2
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<head>
    <link href="~/Syncfussion/styles/material.css" rel="stylesheet" />
    <script src="~/Syncfussion/scripts/ej2.min.js"></script>
</head>
<div class="row" style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
    <div class="col-8">

        <div style="margin:8px;padding:8px;text-align:left">
            <div style="color:black;font-size:xx-large;" class="text-capitalize"> Members  Per Counties</div>
            <div style="color:gray;font-size:small;" class="text-capitalize">List of  Members of specific County</div>
        </div>

    </div>
    <div class="col-4">
        @*  <div style="margin:8px;padding:8px;text-align:end">
        <a asp-action="Create" asp-controller="MembersRegistrations" style="background:#0670ba;padding:4px;border-radius:8px;color:white"><i class="fa fa-plus" aria-hidden="true"></i> Add New Members </a>
        </div>*@
    </div>
</div>
<div class="container-fluid">
    <div style="text-align:end;padding-top:8px">
        <input type="submit" class="btn btn-sm btn-primary" value="Download/Print" />
    </div>
    <form asp-action="MembersReportsPerCounty">
        <div class="row mt-3">
            <div class="col-4">

                <ejs-dropdownlist id="strCompanyId" name="countyId" filterBarPlaceholder="Search" allowFiltering="true" filtering="strCompanyId" placeholder="Select County" popupHeight="300px" dataSource="@ViewBag.strCompanyId">
                    <e-dropdownlist-fields text="strCounty" value="strCountyId"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="col-4">
                <input type="submit" value="Search" class="btn btn-sm btn-primary" />
            </div>
        </div>
    </form>
    <script>
        function strCompanyId(e) {
            var query = new ej.data.Query();
            query = (e.text !== '') ? query.where('strCounty', 'contains', e.text, true) : query;
            e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.strCompanyId)), query);


        }
    </script>
    <div style="margin:8px;padding:8px;background-color:white">
        <table class="table   table-striped table-bordered  table-sm" style="color:black">
            <thead style="background-color:#0f1230;color:white">
                <tr>
                    <th>
                        Full Name
                    </th>
                 
                    <th>
                        Member No
                    </th>
                  
                    <th>
                        Phone No
                    </th>


                    <th>
                        County
                    </th>

                    <th>
                        Group
                    </th>


                    <th>
                        ID No
                    </th>
                    <th>
                        Sacco
                    </th>


                    <th>
                        Email
                    </th>

                </tr>
            </thead>
            <tbody id="myUL">
                @if (Model.membersRegistrations.Count() != 0)
                {
                    @foreach (var item in Model.membersRegistrations)
                    {
                        var saccoo = "n/a";
                        var county = "n/a";
                      
                        var groupname = "n/a";
                        var coop = Model.co_Operatives.FirstOrDefault(k => k.strId.ToString() == item.strCompanyCode);
                        if (coop != null)
                        {
                            saccoo = coop.strCompanyName;
                        }
                      
                        var group = Model.CIG_Croups.FirstOrDefault(k => k.Id.ToString() == item.strCIGGroupId);
                        if (group != null)
                        {
                            groupname = group.strName;
                        }
                        var countyyy = Model.locations.FirstOrDefault(k => k.strCountyId == item.strCountyId);
                        if (countyyy != null)
                        {
                            county = countyyy.strCounty;
                        }
                        <tr>
                            <td>@item.strOtherName @item.strSurName </td>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.strMemberNo)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.strPhoneNo)
                            </td>


                            <td>
                                @county
                            </td>

                            <td>
                                @groupname
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.strIdNo)
                            </td>
                            <td>
                                @saccoo
                            </td>


                            <td class="text-truncate">
                                @Html.DisplayFor(modelItem => item.strEmail)
                            </td>


                        </tr>

                    }


                }
                else
                {
                    <tr>
                        <td colspan="14" style="text-align:center;color:red">No Members  Found </td>

                    </tr>
                }

        </table>
    </div>
</div>


<ejs-scripts></ejs-scripts>